.board-embed-frame {
  width: 500px;
  height: 400px;
  background-color: gray;
  margin-bottom: 20px;
  padding: 40px;
}

.center-container {
  width: 1000px;
  margin: 50px auto;
}

.the-query-display {
  height: 200px;
  width: 800px;
  background-color: white;
  padding-top: 10px;
}

.the-query-display ul {
  list-style: none;
}

body {
  background-color: blue;
}

h1 {
  color: red;
}
